.footer {
    margin: 0 auto;
    max-width: $desktop-max;
    color: $color-gray;
    text-align: center;
    padding: $large-spacing 0;
    font-size: $font-size-small;
    a {
        color: $color-primary;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            color: $color-yellow;
        }
    }
}
