h1.typo {
    font-family: $typo-serif;
    font-size: $font-size-large;
}
h2.typo {
    font-family: $typo-sans;
    font-size: $font-size-medium;
    font-weight: 100;
    color: $color-black;
}
h3.typo {
    font-family: $typo-serif;
    font-size: $font-size-default;
}
p.typo {
    font-family: $typo-sans;
    font-size: $font-size-default;
    line-height: $line-height-default;
    font-weight: 300;
}
.typo--note {
    color: $color-gray;
    font-size: $font-size-large;
    font-weight: 100;
}
.typo--align-left {
    text-align: left;
}
.typo--align-center {
    text-align: center;
}
.typo--align-right {
    @include media-tablet-plus {
        text-align: right;
    }
}
